* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 20px;
    margin: 15px 0;
    color: #410275;
}

h2 {
    font-size: 18px;
    margin: 15px 0;
    color: #410275;
}

h3 {
    font-size: 16px;
    color: #410275;
}

h4 {
    font-size: 14px;
    margin: 15px 0;
    color: #410275;
}

p {
    margin: 15px 0;
}

button {
    margin: 10px 0;
    background: #ebebeb;
    background-image: linear-gradient(to bottom, #aaaaaa, #ffffff);
    color: #000000;
    font-size: 14px;
    padding: 4px;
    text-decoration: none;
    width: 100%;
}

button:hover {
    background: #dedede;
    background-image: linear-gradient(to bottom, #757575, #ffffff);
    text-decoration: none;
    cursor: pointer;
}

section {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

a {
    color: black;
}

article {
    margin-top: 20px;
    background-color: white;
    color: black;
    width: 41%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

select {
    width: 150px;
    height: 23px;
}

textarea {
    width: 240px;
    height: 40px;
}

.welcome-image {
    width: 45%;
    height: 45%;
}

.welcome-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}

.welcome-input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}

.welcome-button {
    width: auto;
}

.welcome-link {
    color: black;
}

.header-container {
    display: flex;
    align-items: center;
    height: 70px;
    background: linear-gradient(
        180deg,
        rgba(117, 117, 117) 0%,
        rgba(255, 255, 255) 100%
    );
}

.header-title {
    margin-left: 10px;
    margin-right: auto;
    color: #410275;
}

.header-logo {
    display: inline-block;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.header-link {
    color: black;
    margin: 10px;
    text-decoration: none;
}

.header-link:hover {
    background-color: #666666;
}

.active {
    background-color: #999999;
    text-decoration: underline;
}

.user-image-icon {
    position: relative;
}

.user-image {
    position: relative;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    z-index: 100;
    margin-right: 10px;
    object-fit: cover;
    filter: grayscale(100%);
}

.user-upload-icon {
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 200;
}

.upload-image-container {
    position: fixed;
    padding: 25px;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        180deg,
        rgba(117, 117, 117) 0%,
        rgba(255, 255, 255) 100%
    );
    z-index: 300;
}

.upload-image-copy {
    margin-left: 6px;
}

.upload-image-closer-container {
    font-size: 18px;
    text-align: right;
    cursor: pointer;
}

.upload-image-input {
    border-style: solid;
    border-color: Gray;
    border-width: 1px;
    width: 100%;
    cursor: pointer;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    filter: grayscale(100%);
}

.appointment-options-container {
    display: flex;
    margin-bottom: 10px;
}

.timeslot-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.warning-message {
    color: red;
}

.patients-all-container {
    display: flex;
    flex-wrap: wrap;
}

.patients-one-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    flex: 0 0 25%;
}

.schedule-container {
    position: relative;
}

.schedule-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    filter: grayscale(100%);
}

.schedule-name {
    font-size: 12px;
    position: absolute;
    background-color: white;
    bottom: 2px;
    right: 0px;
}

.schedule-timeslot {
    text-align: center;
    font-size: 12px;
}

@media (max-device-width: 767px) {
    .welcome-header {
        font-size: 32px;
    }

    .welcome-label {
        display: inline;
        font-size: 40px;
        height: 50px;
        line-height: inherit;
    }

    .welcome-copy {
        font-size: 20px;
    }

    .welcome-input {
        margin: 15px 0;
        height: 50px;
        font-size: 40px;
        width: 100%;
    }

    .header-container {
        height: 160px;
    }

    .header-link {
        font-size: 30px;
    }

    .header-title {
        font-size: 30px;
    }

    .header-logo {
        width: 100px;
        height: 100px;
        margin-left: 40px;
    }

    .user-image {
        width: 100px;
        height: 100px;
    }

    section {
        width: 90%;
    }

    article {
        width: 90%;
    }

    .upload-image-container {
        width: 600px;
        height: 350px;
    }

    .upload-image-closer-container {
        font-size: 50px;
    }

    .upload-image-closer-copy {
        font-size: 50px;
    }

    .upload-image-copy {
        font-size: 40px;
    }

    .upload-image-input {
        font-size: 40px;
    }

    button {
        font-size: 38px;
    }

    .timeslot-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .appointment-button {
        height: 80px;
    }

    select {
        font-size: 38px;
        height: 50px;
        width: 100%;
    }

    .appointment-options-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    input {
        width: 300px;
        height: 50px;
        font-size: 50px;
    }

    .profile-image {
        width: 700px;
        height: 700px;
    }

    .patients-copy {
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
    }

    .schedule-container {
        margin: 30px 0;
    }

    .schedule-image {
        width: 700px;
        height: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .schedule-name {
        margin-top: 10px;
        text-align: center;
        bottom: auto;
        right: auto;
        position: inherit;
    }
}
